body{
  background-color: #6ec7ff;
}
.nbar{
  background-color: #202ee8;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}
#n1{
  color: yellow;
}
a:visited{
  background-color: none;
  color:white;
}
a:active{
 background-color: none;
}
a:link{
  background-color: #202ee8;
  text-decoration: none;
  padding: 20px;
  padding-right: 40px;
  position: relative;
  left: 40px;
  color: white;
}
a:hover{
  background-color: #0a1d66;
  text-decoration: underline;
  color: #000c1f;
}
#Copyright{
  position:fixed;
  bottom: 0px;
  margin: none;
  left: 530px;
  color:#202ee8;
}
.customersPage{
  text-align: center;
  font-family: Georgia;
  padding: 15px;
  background-color: #c9ebff;
}
.odd{
  margin: 10px;
  left: 20px;
  background-color: #abe0ff;
}
.even{
  margin: 10px;
  left: 20px;
  background-color: #85d2ff;
}
.head{
  background-color: #4abcff;
  font-family: cursive;
}
.odd, .even{
  font-family: cursive;
}
.table{
  padding-left: 20px;
  padding-right: 20px;
}
